# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/

# Environment files — KABHI BHAI GITHUB PE MAT DAALNA!
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
